@font-face {
    font-family: M;
    src: url("02 Order Summary Component/Montserrat/static/Montserrat-Medium.ttf");
}
body, #card{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0 2rem;
    margin: 0;
}
body{
    flex-flow: column;
    gap: 1em;

    align-items: center;
    background: linear-gradient(hsl(224, 42%, 13%), hsl(222, 24%, 8%));

    font-family: M;
    color: white;
}
#card{
    background: hsl(224, 44%, 18%);
    border-radius: 1em;
    padding: 2em;
    height: fit-content;
    flex-flow: column;
    gap: 2em;
}
a{
    text-decoration: none;
    color: rgb(197, 197, 197);
    transition: color 1s;
}

a:hover{
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    body{
        font-size: 22px;
    }
}