@font-face {
    font-family: M;
    src: url("02 Order Summary Component/Montserrat/static/Montserrat-Medium.ttf");
}
html, body{
    height: auto;
    min-height: 100%;
}
body{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 2em;
    padding: 2rem;
    margin: 0;
    gap: 1em;
    box-sizing: border-box;
    align-items: center;
    background-image: url("11 Sign Up form/images/bg-intro-desktop.png"), linear-gradient(hsl(224, 42%, 13%), hsl(222, 24%, 8%));
    background-size: contain;
    
    font-family: M;
    color: white;
}
#card{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    margin: 0;
}
#card img{
    transition: 0.5s all ease-in-out;
    filter: brightness(80%) opacity(60%);
}
#card img:hover{
    filter: brightness(100%) opacity(100%);
}

a{
    text-decoration: none;
    color: rgb(163, 163, 163);
    transition: color 1s;
    padding: 0.5em 1em;
    border:hsl(224, 44%, 18%) solid 0.1em;
    border-radius: 1em;
    transition: all ease-in 0.5s;
}

a:hover{
    color: rgb(255, 255, 255);
    border:rgb(255, 255, 255) solid 0.1em;
}

