@font-face {
    font-family: "M-Medium";
    src: url("Montserrat/static/Montserrat-Medium.ttf")
}
@font-face {
    font-family: "M-Bold";
    src: url("Montserrat/static/Montserrat-Bold.ttf")
}
@font-face {
    font-family: "M-Regular";
    src: url("Montserrat/static/Montserrat-Regular.ttf")
}
@font-face {
    font-family: "M-Light";
    src: url("Montserrat/static/Montserrat-Light.ttf")
}

body{            
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e0e8ff;
    background-image: url("images/pattern-background-desktop.svg");

    font-family: "M-Medium";
    color: #1b2948;

    height: 100vh;
    margin: 0
}
body, #card, #selected_plan, #plan_info, #content{
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-image 2s
}
#card{
    flex-flow: column;
    justify-content: start;

    overflow: hidden;
    background: white;

    border-radius: 1rem;
    height: min-content;
    max-width: 30rem;
    box-shadow: 0 1em 1em 0 #c4d0f6;

    transition: ease-out all 0.2s
}
#banner{
    width: 100%
}
#content{
    flex-flow: column;
    gap: 1.4em;

    text-align: center;
    padding: 2em
}
h1{
    font-family: "M-Bold";
    font-size: 28px;
    margin-top: 0
}
#desc{
    line-height: 1.7em;
    margin-top: -1.5em;
    max-width: 20rem
}
#selected_plan{
    justify-content: space-between;
    
    background: #f8f9fe;

    border-radius: 1em;
    margin-top: 0.5em;
    padding: 1em;
    max-width: 20em;
    width: 100%
}
#plan_info{
    flex-flow: column;
    align-items: start;

    margin-left: -10%
}
a{
    color: #382ae1
}
a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #766cf1
}
span:first-child, #pay_button, #cancel_button, a{
    font-family: "M-Bold"
}
#pay_button{
    background: #382ae1;
    box-shadow: 0 1em 1em 0em #d8d5fc;
    
    width: 100%;
    max-width: 20em;
    padding: 1em;
    border-radius: 1em;

    color: white
}
#pay_button:hover{
    background: #766cf1;
    cursor: pointer
}
#cancel_button:hover{
    color: #1b2948;
    cursor: pointer
}
#cancel_button, span:nth-child(2), #desc{
    color: #797e9a
}

@media (max-width: 768px) {
    body{
        background-image: url("images/pattern-background-mobile.svg");
        padding: 0 1.2em;
        font-size: 14.5px
    }
    #card{
        min-width: 19rem;
        max-width: 23rem
    }
    h1{
        font-size: 22px
    }
    #desc{
        max-width: 19em
    }
}