@font-face {
    font-family: BigShoulders;
    src: url(BigShouldersDisplay-SemiBold.ttf);
}
@font-face {
    font-family: LexendDeca;
    src: url(LexendDeca-VariableFont_wght.ttf);
}

body, #card, .col{
    display: flex
}
body{
    justify-content: center;
    align-items: center;
    
    font-family: LexendDeca;
    color: rgb(235, 235, 235);

    background: hsla(0, 0%, 100%, 0.75);
    height: 100vh;
    margin: 0
}

/* [body->#card] */
#card{
    overflow: hidden;

    border-radius: 0.6em;
    height: fit-content;
    min-width: 50em;
    max-width: 70%;
}

/* [#card->.col, .title, .button] */
.col{
    flex-flow: column;
    justify-content: start;
    align-items: start;
    gap: 0.7em;

    width: 13em;
    padding: 3em
}
#col1{
    background: #e28525
}
#col2{
    background: #016972
}
#col3{
    background: #00403f
}

.title{
    font-family: BigShoulders;
    font-size: 2.4rem;
    color: white
}
.desc{
    font-size: 1.05rem;
}
.button{    
    background: white;

    border-radius: 2em;
    padding: 0.7em 1.7em;
    margin-top: 3em;
    
    text-align: center
}

#col1 .button{
    color: #e28525
}
#col2 .button{
    color: #016972
}
#col3 .button{
    color: #00403f
}

/*START*/
/*HOVER ON LEARN_MORE button*/
#col1 .button:hover{
    cursor: pointer;
    padding: 0.6em 1.6em;
    border: 0.1em solid white;
    color: white;
    background: #e28525
}
#col2 .button:hover{
    cursor: pointer;
    padding: 0.6em 1.6em;
    border: 0.1em solid white;
    color: white;
    background: #016972
}
#col3 .button:hover{
    cursor: pointer;
    padding: 0.6em 1.6em;
    border: 0.1em solid white;
    color: white;
    background: #00403f
}
/*HOVER ON LEARN_MORE button*/
/*END*/


/*START*/
/*MOBILE VIEW*/
@media (max-width:50em) {
    body{
        height: fit-content;
        padding: 2em
    }
    #card{
        flex-flow: column;
        min-width: fit-content;
        height: fit-content
    }
    .col{
        gap: 1em
    }
    .button{
        margin-top: 1em
    }
}
/*MOBILE VIEW*/
/*END*/