@font-face {
    font-family: manrope;
    src: url(Manrope-VariableFont_wght.ttf)
}
body, #card, #content, .profile, .indiv, #details, .share_icon, .share_menu, #social{
    display: flex
}
body, .profile, .share_icon, .share_menu, #social{
    justify-content: center;
    align-items: center
}
body{
    margin: 0;
    height: 100vh;

    font-family: manrope;
    background: hsl(210, 46%, 95%)
}
#card{
    position: relative;

    min-width: 48rem;
    width: 50%;
    height: 18rem;

    border-radius: 0.5rem;
    background: white
}
#banner{
    object-fit: cover;
    object-position: left;

    border-radius: 0.5rem 0 0 0.5rem;
    width: 40%
}

/* --- CONTENT STARTS --- */
#content{
    flex-flow: column;    
    justify-content: space-between;

    padding: 2.3rem 2.5rem
}
h1{
    margin: 0;

    font-size: 20px;
    color: hsl(217, 19%, 35%);
    letter-spacing: 0.07rem
}
#desc{
    font-size: 13px;
    color: hsl(214, 17%, 51%);
    margin: 0 0 0.5rem
}

/* --- PROFILE STARTS --- */
.profile{
    justify-content: space-between;
    height: 2.5rem
}
#avatar{
    height: 100%;
    border-radius: 50%
}
.indiv{
    height: 100%;
    gap: 1rem
}

/* --- DETAILS STARTS --- */
#details{
    flex-flow: column;
    gap: 0.2rem;
    
    font-size: 13px
}
#name{
    color: hsl(217, 19%, 35%);
    font-variation-settings: "wght" 700
}
#date{
    color: hsl(214, 17%, 51%)
}
/* --- DETAILS ENDS --- */

/* --- SHARE_ICON STARTS --- */
.share_icon{
    border-radius: 50%;
    padding: 0.5rem;
    height: 1rem;
    width: 1rem;
    
    background-color: hsl(210, 46%, 95%);
    user-select: none;
    cursor: pointer
}
.clicked_icon{
    background-color: hsl(217, 19%, 35%)
}

/* --- SHARE_MENU STARTS --- */
.share_menu{
    flex-flow: column;

    position: absolute;
    bottom: 4.7rem;
    right: -2.7rem;

    height: 0;

    overflow: hidden
}
.visible_menu{
    height: fit-content;
    overflow: visible
}

#social{
    justify-content: space-between;

    border-radius: 0.5rem;
    padding: 0.4rem 2.3rem;
    width: 90%;

    background-color: hsl(217, 19%, 35%);
    
    font-size: 13px;
    color: hsl(215, 22%, 59%);
    letter-spacing: 0.3rem
}
#triangle{
    height: 0;
    width: 0;
    border: solid  0.7rem;
    border-color: hsl(217, 19%, 35%) transparent transparent
}

#social, #triangle{
    pointer-events: none /* To disable click */
}
/* --- SHARE_MENU ENDS --- */

svg path{
    fill: hsl(217, 19%, 35%)
}
.clicked_arrow path{
    fill: white
}

/* --- SHARE_ICON ENDS --- */
/* --- PROFILE ENDS --- */
/* --- CONTENT ENDS --- */

@media (max-width: 768px) {
    #card{
        flex-flow: column;

        min-width: 20rem;
        max-width: 22rem;
        width: 90%;
        height: fit-content
    }
    #banner{
        width: 100%;
        height: 14.5rem;
        border-radius: 00.5rem 0.5rem 0 0;

        object-position: top;
        object-fit: cover
    }
    #content{
        gap: 1rem;
        padding: 0
    }
    h1{
        font-size: 15px;
        padding: 2.3rem 2.5rem 0
    }
    #desc{
        font-size: 14px;
        padding: 0 2.5rem
    }
    .profile{
        justify-content: space-around;
        align-items: center;
        gap: 0;

        padding: 0 2.5rem 1.5rem;

        transition: ease-out all 0.1s
    }
    .change_state{
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 0.7rem 0rem;

        background-color: hsl(217, 19%, 35%)
    }
    .indiv{
        gap: -1rem
    }
    #details{
        width: 8rem
    }
    .absent{
        display: none
    }
    .share_icon{
        z-index: 1
    }
    .clicked_icon{
        background-color: hsl(214, 17%, 51%)
    }
    .share_menu{
        position: static;
        bottom: 0;
        left: 0
    }
    #social{
        justify-content: start;
        gap: 10%;

        border-radius: 0 0 0.5rem 0.5rem;

        background-color: transparent
    }
    #triangle{
        display: none
    }
}