@font-face {
    font-family: spartan;
    src: url(Spartan-VariableFont_wght.ttf)
}

body, #section, #sub_section, #intro, #ratings, .rating, #reviews, .review, .who{
    display: flex;
    flex-flow: column
}
body{
    box-sizing: border-box;
    align-items: center;

    font-family: spartan;
    font-size: 15px;
    text-align: center;

    padding: 3rem 1.5rem;
    margin: 0;

    background-image: url(images/bg-pattern-top-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat
}
#section{
    gap: 2.5rem;
}
#sub_section{
    align-items: center;
    gap: 2.5rem
}
#intro{
    gap: 1.5rem
}
h1{
    font-family: spartan;
    font-variation-settings: "wght" 600;
    color: hsl(300, 43%, 22%);
    line-height: 2rem;

    padding: 0 1.5rem;
    margin: 0
}
#desc{
    color: rgb(109, 109, 109);
    font-size: 0.95em;
}
#ratings{
    gap: 1rem;
    align-items: center;

    min-width: 15rem;
    max-width: 35rem;
    width: 90%;
}
.rating{
    align-items: center;
    justify-content: center;

    background: hsl(300, 24%, 96%);
    border-radius: 0.5rem;
    
    padding: 1rem;
    width: 100%;
    font-size: 0.9em;
}
.rating p{
    color: hsl(300, 43%, 22%);
    font-variation-settings: "wght" 700;
    margin: 0.5rem 0 0
}
#reviews{
    align-items: center;
    gap: 1rem;
}
.review{
    background: hsl(300, 43%, 22%);

    gap: 1.5rem;

    border-radius: 0.5rem;
    min-width: 15rem;
    max-width: 35rem;
    padding: 2.5rem 2rem;

    text-align: start;
    color: white
}
.profile{
    display: flex;
    align-items: center;
    gap: 1rem
}
.avatar{
    width: 2.5rem;
    border-radius: 50%
}
.who{
    justify-content: center
}
.who span:first-child{
    font-variation-settings: "wght" 700
}
.who span:nth-child(2){
    color: hsl(333, 80%, 67%)
}
.review_note{
    margin: 0
}

@media (min-width: 1000px) {
    body{
        justify-content: center;

        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-size: auto;
        background-position: 0 0, right 0 bottom 0;

        text-align: start;
        padding: 10%;
        height: 100vh
    }
    #section{
        gap: 4.5rem;
    }
    #sub_section{
        flex-flow: row;
        gap: 10rem;
    }
    #intro{
        max-width: 28rem;
        min-width: 20rem;
    }
    h1{
        font-variation-settings: "wght" 700;
        font-size: 2.8rem;
        line-height: 3rem;

        padding: 0;
    }
    #ratings{
        width: 60%;
        min-width: fit-content;
        max-width: none;
    }
    .rating{
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;

        padding: 1rem 2rem;
        width: 22.5rem;
        font-size: 0.8rem;
    }
    .rating:first-child{
        align-self: start;
    }
    .rating:last-child{
        align-self: end;
    }
    .rating p{
        margin: 0;
    }
    #reviews{
        flex-flow: row;
        justify-content: space-between;
        gap: 1.5rem;

        font-size: 0.8rem;
        height: 17rem;
    }
    .review{
        line-height: 1.2rem;
    }
    .review:first-child{
        align-self: start;
    }
    .review:last-child{
        align-self: end;
    }
}